li {
    width: 50%;
    color: var(--letters1);
    list-style-type: none;
    border: 1px solid var(--highlight1);
    border-radius: 10px;
    margin: 4% auto;
    font-family: 'Grape Nuts', cursive;
    font-weight: bolder;
    font-size: 1.8rem;
    background-color: var(--highlight2);
    display: flex;
    justify-content: space-between;
}
/* li > *{
    display: inline-block;
    
} */

/* li > span{
    width:5%;
    margin-right: 0 10%;
}

li > p {
    width: 50%
} */

.Icon-check--active{
    text-decoration: line-through;
}