:root{
    --letters1: #EFBDCB;
    --letters2: #EEDDE4;
    --background1: #FFB884;
    --background2:#F99A57;
    --highlight1: #DB1833;
    --highlight2: #07415C;
    font-size: 12px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(https://dsm01pap002files.storage.live.com/y4mpJ-jrr8E3fFOCKhQ7xhpp-yea_k3Tcc4vuAYBO_9aZMiivzDdiaV3_Qm0dFsPreob7RiKGjsnwm5t6PszRmMLNaAEI6S7HX24NA16yGPEP3D-8dJy-i38PGIX7WtX56yDAMew_H2KhEqhIF77p2G2O70iMPoqbT1qQ8EphNiqp-KKmYGPHDQGp4WwOYSxTfR?width=5000&height=7000&cropmode=none) right top fixed
  


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
